[submodule "OctoPrint"]
	path = OctoPrint
	url = https://github.com/foosel/OctoPrint.git
[submodule "klipper"]
	path = klipper
	url = https://github.com/KevinOConnor/klipper.git
[submodule "slic3r_profiles"]
	path = slic3r_profiles
	url = https://github.com/jed-frey/slic3r_profiles.git
[submodule "3D_Prints"]
	path = 3D_Prints
	url = https://github.com/jed-frey/3D_Prints.git
